<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>PSC Staffing</title>
	<atom:link href="http://www.pscstaffing.com/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.pscstaffing.com</link>
	<description>Professional Staffing Company</description>
	<lastBuildDate>Mon, 20 Mar 2017 16:32:42 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.7.4</generator>
	<item>
		<title>Job Fair 3/29/17</title>
		<link>http://www.pscstaffing.com/job-fair-32917/</link>
		<pubDate>Mon, 20 Mar 2017 16:32:42 +0000</pubDate>
		<dc:creator><![CDATA[kaly]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">http://www.pscstaffing.com/?p=24284</guid>
		<description><![CDATA[  Job Fair Date:3/29/2017 Location: 3731 S. Mendenhall Rd  Memphis, Tn 38115 Must have 2 valid forms of identification to apply Job available: Forklift operators Picker/Packer Mig Welders General Laborers Chemical Compounders/Formulators/Mixer We look forward to meeting you!]]></description>
				<content:encoded><![CDATA[<h1 style="text-align: center;">  Job Fair</h1>
<h1 style="text-align: left;">Date:3/29/2017</h1>
<p><strong><em>Location:</em> </strong></p>
<p><strong>3731 S. Mendenhall Rd  Memphis, Tn 38115</strong></p>
<p><strong>Must have 2 valid forms of identification to apply</strong></p>
<h1>Job available:</h1>
<ul>
<li>Forklift operators</li>
<li>Picker/Packer</li>
<li>Mig Welders</li>
<li>General Laborers</li>
<li>Chemical Compounders/Formulators/Mixer</li>
</ul>
<p>We look forward to meeting you!</p>
]]></content:encoded>
			</item>
		<item>
		<title>MEMPHIS LOCATION: SORRY FOR INCONVENIENCE 7/19/16</title>
		<link>http://www.pscstaffing.com/memphis-location-sorry-for-inconvenience-71916/</link>
		<pubDate>Tue, 19 Jul 2016 22:26:03 +0000</pubDate>
		<dc:creator><![CDATA[ideagarden]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">http://www.pscstaffing.com/?p=24109</guid>
		<description><![CDATA[Storms have knocked out our phones and internet in our Memphis office. We hope to have this issues resolved in the morning. Thanks for your understanding.]]></description>
				<content:encoded><![CDATA[<p>Storms have knocked out our phones and internet in our Memphis office. We hope to have this issues resolved in the morning.<br />
Thanks for your understanding.</p>
]]></content:encoded>
			</item>
		<item>
		<title>Grand Opening in Dallas</title>
		<link>http://www.pscstaffing.com/grand-opening-in-dallas/</link>
		<pubDate>Fri, 08 Apr 2016 01:34:23 +0000</pubDate>
		<dc:creator><![CDATA[ideagarden]]></dc:creator>
				<category><![CDATA[News]]></category>
		<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">http://psc.ideagardenmarketing.com/?p=23983</guid>
		<description><![CDATA[PSC is proud to announce our Grand Opening in Grand Prairie, Texas located at 2080 N. State Hwy 360, Suite 125 Grand Prairie, TX 75050. At this location, we are staffing light industrial, professional placement, IT, Customer service, call center, direct hire etc. We are proud to say that we are apart of the Grand [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><a href="http://www.pscstaffing.com/wp-content/uploads/pic-blog-post-grand-opening-dallas.jpg" rel="attachment wp-att-23984"><img class="alignleft size-full wp-image-23984" src="http://www.pscstaffing.com/wp-content/uploads/pic-blog-post-grand-opening-dallas.jpg" alt="pic-blog-post-grand-opening-dallas" width="252" height="252" /></a>PSC is proud to announce our Grand Opening in Grand Prairie, Texas located at 2080 N. State Hwy 360, Suite 125 Grand Prairie, TX 75050. At this location, we are staffing light industrial, professional placement, IT, Customer service, call center, direct hire etc. We are proud to say that we are apart of the Grand Prairie Chamber of Commerce, and also service DFW and surrounding areas; Allowing us to help local businesses succeed.</p>
<p>Apply online or call 214-518-6484 to make an appointment.</p>
]]></content:encoded>
			</item>
		<item>
		<title>The PSC Guarantee</title>
		<link>http://www.pscstaffing.com/a-standard-image-post/</link>
		<pubDate>Sat, 18 May 2013 10:20:51 +0000</pubDate>
		<dc:creator><![CDATA[ideagarden]]></dc:creator>
				<category><![CDATA[Business]]></category>
		<category><![CDATA[News]]></category>
		<category><![CDATA[Technology]]></category>

		<guid isPermaLink="false">http://themes.a-salah.com/bostan/?p=20911</guid>
		<description><![CDATA[At PSC Staffing, we understand that flexibility is important. That’s why we maintain a well-stocked database of applicants, which enable us to quickly match the right person to fit your needs. We thoroughly screen and references check all our employees. We stand behind our work with a personal guarantee of your satisfaction! We specialize in [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>At PSC Staffing, we understand that flexibility is important. That’s why we maintain a well-stocked database of applicants, which enable us to quickly match the right person to fit your needs. We thoroughly screen and references check all our employees. We stand behind our work with a personal guarantee of your satisfaction!</p>
<p>We specialize in the following employment areas:</p>
<div>
<div>
<ul>
<ul>
<ul>
<li>Clerical</li>
<li>General Labor</li>
<li>Quality Control</li>
<li>Order Selectors</li>
<li>Forklift Operators</li>
<li>Shipping &amp; Receiving</li>
<li>Assembly/Packing</li>
<li>Loading/Unloading</li>
<li>Warehouse/Inventory</li>
<li>Construction Cleanup</li>
</ul>
</ul>
</ul>
</div>
</div>
<blockquote>
<blockquote><p>Contact us today!</p></blockquote>
</blockquote>
]]></content:encoded>
			</item>
	</channel>
</rss>
