html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, q, small, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{border:0;margin:0;padding:0;font-size:100%;}
article, aside, figure, figure img, figcaption, hgroup, footer, header, nav, section, video, object{display:block}
a img{border:0}
body, li{line-height:1;}
ul{list-style:square inside none;}
ol{padding-left:20px;}
ol li{padding-top:7px;padding-bottom:7px;height:auto;line-height:1.3em;}
blockquote, q{quotes:none;margin:20px;}
.wrap div{display:block;float:left;}
.wrap{width:1080px;margin:0 auto;*zoom:1;}
.section{width:100%;*zoom:1;height:auto;clear:both;position:relative;}
.one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven, .twelve{padding:10px;margin:10px;word-wrap:break-word;float:left;display:block;}
.one{width:50px}
.two{width:140px}
.three{width:230px}
.four{width:320px}
.five{width:410px}
.six{width:500px}
.seven{width:590px}
.eight{width:680px}
.nine{width:770px}
.ten{width:860px}
.eleven{width:950px}
.twelve{width:1040px}
.one-full{width:90px}
.two-full{width:180px}
.three-full{width:270px}
.four-full{width:360px}
.five-full{width:450px}
.six-full{width:540px}
.seven-full{width:630px}
.eight-full{width:720px}
.nine-full{width:810px}
.ten-full{width:900px}
.eleven-full{width:990px}
.twelve-full{width:1080px}
#content .two{width:130px;}
#content .three, #content .keyword-services{width:200px;padding-right:5px;padding-left:5px;margin-left:8px;margin-right:8px}
#content .four{width:300px;}
#content-three-column .two{width:126px}
#content-three-column .three{width:220px}
#sidebar .two{width:120px;}
.test-color{background-color:#D1FFB3;}
.ie7ie8-override{padding:1% !important;margin:1% !important;word-wrap:break-word;float:left;}
img{max-width:100%;height:auto}
.clearfix, .clearboth{clear:both !important;}
.clearfix:after, .clearboth:after{content:".";display:block;height:0;zoom:1;clear:both;visibility:hidden;}
body{font-family:Arial, 'Liberation Sans', FreeSans, sans-serif;font-size:14px;line-height:1.5em;margin:0px;width:100%;font-weight:normal;background:#FFF;}
a{color:#d0100e;font-weight:bold;text-decoration:none;transition:color 0.4s ease;-webkit-transition:color 0.4s ease;-moz-transition:color 0.4s ease;-o-transition:color 0.4s ease;}
a:hover{color:#999;}
p{margin-bottom:.5em;}
h1, h2, h3, h4, h5, h6{line-height:1.2em;margin-bottom:0.2em;clear:both;}
h1, h1 a{font-size:26px;font-weight:normal;color:#000;text-transform:uppercase;}
h2, h2 a{font-size:24px;color:#4b3114;font-weight:normal;padding-bottom:3px;}
h3{font-size:14px;clear:both;margin-top:30px;}
h4{font-size:16px;}
h5{font-size:14px;}
h6{font-size:14px;text-transform:uppercase;}
.font9{font-size:9px;}
.font10{font-size:10px;}
.font12{font-size:12px;}
.font14{font-size:14px;}
.font16{font-size:16px;}
.font18{font-size:18px;}
.font24{font-size:24px;}
.font30{font-size:30px;}
.highlight-color{color:#d0100e;}
.h1-subtitle{color:#333;font-size:16px;font-style:italic;}
.no-clear{clear:none !important;}
.floatfix{float:none !important;}
.align-center, .aligncenter, .center{text-align:center;}
.align-left, .left{text-align:left;}
.align-right, .right{text-align:right;}
.float-img-right, .alignright{display:block;padding:10px;float:right;}
.float-img-left, .alignleft{display:block;padding:10px;float:left;}
img.align-center, img.aligncenter, img.center{display:block;clear:both;margin:inherit auto;}
.inline-img{display:inline;vertical-align:middle;margin-right:3px;}
.img-vert-padding{padding-top:10px;padding-bottom:10px;}
.not-a-box, .highlight-box{padding:10px 2%;width:96%;margin-top:10px;margin-bottom:10px;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;}
.highlight-box{background-color:#edeade}
.highlight-box h2{}
.services-box{background-color:#edeade;padding-top:10px;padding-left:10px;}
.services-box ul{width:27%;padding-right:3%;padding-left:3%;display:block;float:left;line-height:1em !important;}
.services-box ul li{line-height:1em !important;background-position:left center !important;}
.make-round{-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;}
a.make-button{padding:7px;text-align:center;color:#181818 !important;font-size:11px;float:right;line-height:1em;margin:5px;display:block;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;text-transform:uppercase;background-color:#CCC;background-color:rgba(204,204,204,.25);}
a.make-button:hover{color:#FFF !important;background-color:#d0100e;opacity:1;}
.make-line{display:block;height:10px;width:96%;margin-top:10px;margin-bottom:10px;padding-left:2%;padding-right:2%;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;clear:both;background-color:rgba(0,0,0,0.1);}
.hide-from-mobile{}
.hide-from-tablet{}
#shadow-wrap{}
#header-background{background:url(images/header-tile.jpg) repeat-x;}
#header{line-height:0px;height:auto;position:relative;}
#header img, #header a, #mobile-header img, #mobile-header a, #tablet-header img, #tablet-header a, #body-top img, #body-bottom img{line-height:0px;margin:0px;padding:0px;}
#header .header-logo, #header .header-facebook, #header .header-google-plus, #header .header-youtube, #header .header-pinterest, #header .header-twitter, #header .header-rss, #header .header-number, #header .header-button{display:block;position:absolute;opacity:0;background-color:#FFF;filter:alpha(opacity=00);}
#header .header-logo{left:0%;top:0%;height:100%;width:55%;}
#header .header-facebook{height:30%;width:5%;right:25%;top:2%;}
#header .header-twitter{height:30%;width:5%;right:20%;top:2%;}
#header .header-youtube{height:30%;width:5%;right:15%;top:2%;}
#header .header-pinterest{height:30%;width:5%;right:10%;top:2%;}
#header .header-google-plus{height:30%;width:5%;right:5%;top:2%;}
#header .header-rss{height:30%;width:5%;right:0%;top:2%;}
#header .header-number{top:34%;right:0;height:30%;width:30%;}
#header .header-button{bottom:5%;right:0;height:25%;width:30%;}
#mobile-header, #tablet-header{left:-999em;position:absolute;line-height:0px;*display:none;}
#mobile-header .mobile-logo, #mobile-header .mobile-number, #mobile-header .mobile-button, #tablet-header .tablet-logo, #tablet-header .tablet-number, #tablet-header .tablet-button{display:block;position:absolute;opacity:0;background-color:#FFF;filter:alpha(opacity=00);}
#mobile-header .mobile-logo{left:0%;top:0%;height:50%;width:100%;}
#mobile-header .mobile-number{left:0%;top:50%;height:25%;width:100%;}
#mobile-header .mobile-button{left:0%;top:75%;height:25%;width:100%;}
#tablet-header .tablet-logo{left:0%;top:0%;height:100%;width:50%;}
#tablet-header .tablet-number{top:0%;height:50%;width:50%;right:0px;}
#tablet-header .tablet-button{height:50%;width:50%;right:0px;bottom:0px;}
#breadcrumb{height:auto;font-size:11px;font-weight:bold;color:#333;line-height:16px;width:97%;margin-bottom:5px;border:1px solid #F0F0F0;padding:2px 1%;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
#breadcrumb ul{padding-left:0px !important;}
#breadcrumb ul li{display:inline;font-size:12px !important;line-height:16px;background-image:none !important;font-family:"Arial Black", Gadget, sans-serif;font-weight:normal;}
#breadcrumb ul li a, #breadcrumb ul li span.wp_bc{color:#D6D6D6 !important;display:block;float:left;height:auto;text-transform:uppercase;background-image:url(images/elements/arrow-3.png);background-repeat:no-repeat;background-position:left center;padding:0px 8px 0px 12px;}
#breadcrumb ul li:first-child a{background-image:none;padding-left:0;}
#breadcrumb a:hover{color:#666 !important;}
#body-wrap{}
#body-top{height:auto;line-height:0px;}
#body{background-repeat:repeat-y;background-size:100%}
#body a img:hover{opacity:.85;}
#body ul{margin:0px;padding-left:10px;list-style-type:none;}
#body ul li{padding-top:7px;padding-bottom:7px;background-image:url(images/elements/bullet-large-dark.png);background-repeat:no-repeat;background-position:left 11px;padding-left:15px;height:auto;line-height:1.3em;}
#body ul.checkmarks li{background-image:url(images/elements/check.png);background-repeat:no-repeat;background-position:left top;padding-left:30px;font-size:16px;line-height:1em;}
#body-bottom{height:auto;line-height:0px;}
hr{border:0;height:0;border-top:1px solid rgba(0, 0, 0, 0.1);border-bottom:1px solid rgba(255, 255, 255, 0.3);}
#content{float:right;}
#content-three-column{}
#sidebar{}
#sidebar .three-column-left{}
#sidebar .three-column-right{}
.textwidget{position:relative;width:100%;}
#form{width:100%;height:auto;min-height:50px;line-height:0px;margin-top:10px;margin-bottom:10px;padding:0px;}
#form img{height:auto;width:100%;padding:0px !important;line-height:0px;display:block;float:left;}
#form .form-body{background-image:url(images/form-tile.png);background-repeat:repeat-y;background-size:100%;padding:10px 2%;width:96%;}
#form .form-bottom{height:auto;}
div[id^="wufoo"]{width:100%;height:auto !important;}
#follow, #connect{
	display:block;
	height:auto;
	clear:both;
	width:96%;
	background-size:100% auto;
	margin-right:auto;
	margin-bottom:10px;
	margin-left:auto;
	text-align:center;
	line-height:1em;
	padding:3% 2% 2%;
	background:#c7bd95;
	background:rgba(199,189,149,.3);
	}
#follow p{line-height:1em;margin:0px;padding:0px;}
#follow .follow-title{font-family:"Arial Black", Gadget, sans-serif;text-align:center;font-size:16px;color:#4b3114;display:block;width:100%;text-transform:uppercase;}
#follow .facebook{width:32%;float:left;margin:4% 3% 3%;clear:left;}
#follow .google-plus{width:32%;float:left;margin:3%;}
#follow .rss{float:left;margin:3%;width:26px;background-image:url(images/social/26px-social.png);background-repeat:no-repeat;background-position:left -234px;height:26px;display:block;font-size:3px;line-height:5px;color:#F08421;}
#follow p.rss img{visibility:hidden;}
#follow p.rss a{width:26px;height:26px;display:block;}
.post-ratings-loading{display:none !important;}
#connect .connect-title{font-family:"Arial Black", Gadget, sans-serif;text-align:center;font-size:16px;color:#4b3114;display:block;width:100%;text-transform:uppercase;padding-bottom:3%;}
#connect a{background-image:url(images/social/48px-social.png);background-repeat:no-repeat;display:block;height:48px;width:48px;float:left;font-size:1px;color:transparent;margin-right:2%;margin-bottom:10px;margin-left:2%;}
#connect a.ftfacebook{background-position:0px -816px;}
#connect a.ftgplus{background-position:0px -720px;}
#connect a.fttwitter{background-position:0px -288px;}
#connect a.ftyoutube{background-position:0px -96px;}
#connect a.ftgreview{background-position:0px -960px;}
#connect a.ftangies{background-position:0px -1152px;}
#bottom-container{display:none;}
.arrow_box{-webkit-border-radius:20px;border-radius:20px;position:relative;background-color:#FFFF00;height:auto;width:80%;padding:5% 5%;margin:10px 5%;}
.arrow_box:after{left:100%;top:50%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none;border-color:rgba(255, 255, 0, 0);border-left-color:#FFFF00;border-width:20px;margin-top:-20px;}
.arrow_box:hover{margin-top:0px;margin-bottom:20px;-webkit-transition:all 100ms ease;-moz-transition:all 100ms ease;-ms-transition:all 100ms ease;-o-transition:all 100ms ease;transition:all 100ms ease;}
.white{color:white;font-weight:bold;!important;font-size:32px;}
.arrow_box_b{-webkit-border-radius:10px;border-radius:10px;position:relative;height:auto;width:80%;padding:5% 5%;margin:10px 5%;background-color:#002C61;}
.arrow_box_b:after{left:100%;top:50%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none;border-color:rgba(0, 44, 97, 0);border-left-color:#002C61;border-width:15px;margin-top:-15px;}
.arrow_box_b:hover{margin-top:0px;margin-bottom:20px;-webkit-transition:all 100ms ease;-moz-transition:all 100ms ease;-ms-transition:all 100ms ease;-o-transition:all 100ms ease;transition:all 100ms ease;}
#footer-wrap{border-top:#d0100e 4px solid;}
#footer{font-size:12px;line-height:1.3em;}
#footer p{margin:0px;}
#footer, #footer ul li a, #footer a{color:#806453;}
#footer a{}
#footer strong{text-transform:uppercase;}
#footer .footer-title{color:#3b2e26;font-size:16px;margin-top:0px;margin-bottom:5px;display:block;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;padding-top:2px;padding-bottom:2px;line-height:1.2em;margin-bottom:0.2em;clear:both;font-weight:bold;}
#footer .footer-menu ul{margin:0px;padding-left:10px;list-style-type:none;}
#footer .footer-menu ul li{padding-top:7px;padding-bottom:7px;background-image:url(images/elements/bullet-dark.png);background-repeat:no-repeat;background-position:left 10px;padding-left:15px;border-bottom-width:1px;border-bottom-style:dotted;border-bottom-color:#999;line-height:1.2em;}
#footer ul li a{text-decoration:none;font-weight:normal;}
#footer ul li a:hover, #footer a:hover{color:#3b2e26;text-decoration:underline;}
#footer ul li.gplaces{background-image:url(images/social/26px-social.png);background-repeat:no-repeat;background-position:-8px -676px;height:20px;padding-top:6px;padding-bottom:0px;}
#footer a.make-button{color:#3b2e26 !important;background-color:#ededed;background-color:rgba(237,237,237,.25);}
#footer a.make-button:hover{color:#000 !important;opacity:1;background-color:#3b2e26;}
#footer-bottom{display:none;}
#footer .social ul{padding:0px;list-style-type:none;}
#footer .social li{background-image:url(images/social/26px-social.png);background-repeat:no-repeat;display:block;height:18px;width:auto;padding-left:32px;padding-top:8px;margin-bottom:10px;}
#footer li.ftfacebook{background-position:0px -442px;}
#footer li.ftgplus{background-position:0px -390px;}
#footer li.fttwitter{background-position:0px -156px;}
#footer li.ftyoutube{background-position:0px -52px;}
#footer li.ftgreview{background-position:0px -520px;}
#footer li.ftrss{background-position:0px -234px;}
#footer li.ftpinteres{background-position:0px -286px;}
#footer li.ftflickr{background-position:0px -468px;}
#footer li.ftlinkedin{background-position:0px -494px;}
#footer li.ftdigg{background-position:0px -546px;}
#footer li.ftyahoo{background-position:0px -572px;}
#footer li.ftbing{background-position:0px -598px;}
#footer li.ftangies{background-position:0px -624px;}
#footer li.fthouzz{background-position:0px -650px;}
#footer li.ftintagram{background-position:0px -364px;}
#footer li.ftyelp{background-position:0px -78px;}
#footer li.ftkudzu{background-position:0px -728px;}
#footer li.ftmerch{background-position:0px -754px;}
.no-underline{border-bottom-style:none !important;}
.mobile-dropdown{display:none;}
.menu-top{zoom:1;background-image:url(images/menu.jpg);z-index:2000;background-color:#EDEDED;}
.menu-top ul, .menu-top li, .menu-top ul ul li{list-style:none;padding:0;margin:0;display:block;}
.menu-top ul li{position:relative;z-index:3000;width:auto;display:block;padding:0px;text-align:center;float:left;height:auto;background-image:url(images/elements/divider.png);background-repeat:no-repeat;background-position:right center;}
.menu-top ul li a{display:block;font-weight:normal;color:#FFFFFF;font-size:16px;height:auto;line-height:60px;width:auto;white-space:nowrap;padding:0 10px;}
.menu-top ul li:hover{background-color:#666;background-color:rgba(255,255,255,0.1);}
.menu-top ul ul, .menu-top ul div{background-color:#333333;position:absolute;top:-99999px;left:0;z-index:9998;width:auto;-webkit-border-bottom-right-radius:15px;-webkit-border-bottom-left-radius:15px;-moz-border-radius-bottomright:15px;-moz-border-radius-bottomleft:15px;border-bottom-right-radius:15px;border-bottom-left-radius:15px;display:block;float:left;padding:10px;}
.menu-top ul div{padding:5px !important;}
.menu-top ul div ul{padding:5px !important;width:auto !important;float:left !important;display:block !important;position:relative !important;height:auto !important;top:0px;}
.menu-top ul ul li{white-space:nowrap;float:none;position:relative;margin-top:0px;background-image:none;z-index:4000;height:auto;text-align:left !important;display:block;width:100% !important;padding:0px}
.menu-top ul ul li:hover{background-color:transparent;}
.menu-top ul ul li a{color:#fff;line-height:30px;font-size:14px;height:auto;display:block;width:92%;padding-right:4%;padding-left:4%;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;margin-right:20px;background:none !important;}
.menu-top ul ul li a:hover{color:#FFF !important;background-color:#ad2321 !important;}
.menu-top ul ul li:hover{background-image:none;}
.menu-top ul li:hover > ul, .menu-top ul li:hover > div{position:absolute;top:99%;left:0;}
.menu-top li:hover ul li{margin-top:0;}
.menu-top ul ul li:hover > ul{position:absolute;top:0;left:85%;z-index:9999;background:#222;opacity:.95;}
.menu-top ul ul ul{position:absolute;top:-99999px;left:50%;opacity:0;-webkit-transition:opacity .5s ease-in-out, left .5s ease-in-out;-moz-transition:opacity .5s ease-in-out, left .5s ease-in-out;-o-transition:opacity .5s ease-in-out, left .5s ease-in-out;transition:opacity .5s ease-in-out, left .5s ease-in-out;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;width:auto;}
.menu-top ul li a.firstItem{}
.menu-top ul li a.lastItem{}
.menu-top ul li:last-child{background-image:none;}
.menu-top ul li:last-child:hover{}
.menu-top ul ul li:last-child:hover{background-image:none;}
.menu-top .current-menu-item, .menu-top .current_page_item{background-color:#666;background-color:rgba(255,255,255,0.1);}
#menu-bottom{}
#menu-bottom img{line-height:0px;margin:0px;padding:0px;max-width:100%;}
.menu-top ul li.dropdown ul, .menu-top ul li.dropdown div{background-color:#333333;position:absolute;top:-99999px;left:0;z-index:9998;width:450px;-webkit-border-bottom-right-radius:15px;-webkit-border-bottom-left-radius:15px;-moz-border-radius-bottomright:15px;-moz-border-radius-bottomleft:15px;border-bottom-right-radius:15px;border-bottom-left-radius:15px;display:block;float:left;padding:10px;}
.menu-top ul li.dropdown div{padding:5px !important;}
.menu-top ul li.dropdown div ul{padding:5px !important;width:100% !important;float:left !important;display:block !important;position:relative !important;height:auto !important;top:0px;}
.menu-top ul li.dropdown ul li{white-space:nowrap;float:left;position:relative;margin-top:0px;background-image:none;z-index:4000;height:auto;text-align:left !important;display:block;width:50% !important;padding:0 !important;}
.menu-top ul li.dropdown ul li a{color:#fff;line-height:30px;font-size:14px;height:auto;display:block;width:92%;padding-right:4%;padding-left:4%;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;margin-right:0;background:none !important;}
.menu-top ul li.dropdown ul li a:hover{color:#FFF !important;background-color:#ad2321 !important;}
.menu-top ul li.dropdown ul li:hover{background-image:none;}
.menu-top ul li.dropdown:hover > ul, .menu-top ul li.dropdown:hover > div{position:absolute;top:99%;left:0;}
.menu-top li.dropdown:hover ul li{margin-top:0;}
li.dropdown ul.sub-menu li.current-menu-item, li.dropdown ul.sub-menu li.current_page_item{background-color:#666;background-color:rgba(255,255,255,0.1);-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;width:50% !important;}
li.dropdown ul.sub-menu li.current-menu-item:hover{width:50% !important;}
.menu-top ul li ul.sub-menu .current-menu-item a{width:90% !important;}
li.dropdown ul.sub-menu li.current-menu-item, li.dropdown ul.sub-menu li.current_page_item{margin-right:0}
.sidebar-menu{-moz-border-radius:7px;-webkit-border-radius:7px;border-radius:7px;display:block;width:100%;margin-top:15px;margin-bottom:15px;}
.sidebar-menu h4{margin:0px;line-height:1em;font-size:16px;color:#FFF;background:#333;text-transform:uppercase;font-weight:normal;padding:7px 2%;width:96%;}
.sidebar-menu ul, .sidebar-menu ul ul{list-style-type:none;padding:0px !important;margin:0px !important;width:100%;}
.sidebar-menu ul li{font-size:16px;line-height:1.2em;background-image:none !important;margin:0px 0px 1px !important;width:100%;padding:0px !important;}
.sidebar-menu ul li a{font-size:16px;display:block;height:auto;color:#FFF;font-weight:normal;text-transform:uppercase;transition:background 0.4s ease;-webkit-transition:background 0.4s ease;-moz-transition:background 0.4s ease;-o-transition:background 0.4s ease;background-color:#444;margin:0px;width:96%;padding-top:7px;padding-bottom:7px;padding-left:4%;}
.sidebar-menu ul li a:hover{color:#FFF;background-color:#DD0012;text-decoration:none;}
.sidebar-menu li a.active{}
.sidebar-menu ul li ul li a{background-color:#666 !important;color:#fff !important;}
.sidebar-menu ul li ul li a:hover{color:#FFF !important;background-color:#DD0012 !important;}
.sidebar-menu .first-item{-moz-border-radius:7px 7px 0px 0px;-webkit-border-radius:7px 7px 0px 0px;border-radius:7px 7px 0px 0px;}
.sidebar-menu .last-item{-moz-border-radius:0px 0px 7px 7px;-webkit-border-radius:0px 0px 7px 7px;border-radius:0px 0px 7px 7px;}
.active{}
.imageRoll{height:145px;padding-top:10px;}
.imageRoll a{display:block;width:180px;background-position:left top;line-height:0px;margin:0px;padding:3px 0px 0px;float:left;height:142px;font-size:2px;color:#FFF;text-align:center;-webkit-transition:background .2s ease-in-out;-moz-transition:background .2s ease-in-out;-o-transition:background .2s ease-in-out;transition:background .2s ease-in-out;}
.imageRoll a:hover{background-position:left bottom;color:#D60000;}
.s1{background-image:url();background-repeat:no-repeat;}
#banner-background{background:url(images/mobile/mobile-background.jpg) repeat;border-bottom:#d0100e 4px solid;}
#banner-wrap{position:relative;}
@font-face{font-family:'punchlist';src:url('fonts/punchlist.eot');src:url('fonts/punchlist.eot') format('embedded-opentype'),
url('fonts/punchlist.woff') format('woff'),
url('fonts/punchlist.ttf') format('truetype'),
url('fonts/punchlist.svg') format('svg');font-weight:normal;font-style:normal;}
[class^="icon-"]:before, [class*=" icon-"]:before{font-family:"punchlist";font-style:normal;font-weight:normal;speak:none;display:inline-block;text-decoration:inherit;width:1em;text-align:center;font-variant:normal;text-transform:none;line-height:1em;text-shadow:1px 1px 1px rgba(127, 127, 127, 0.3);font-size:8em;margin-top:3px;}
.icon-search:before{content:'\61';}
.icon-check:before{content:'\62';}
.icon-comment:before{content:'\63';margin-right:.2em;}
#services-background{}
#services-wrap{position:relative;}
#services{font-family:'Open Sans', sans-serif;}
#services div{text-align:center;}
#services h2{font-size:16px;text-transform:uppercase;}
#services a p{font-size:12px;font-weight:normal;}
#services .circle{-webkit-border-radius:50%;border-radius:0%;background:#888;color:#222;width:25%;height:150px;padding:1%;margin:3%;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-ms-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;}
#services .yellow-design{background:#ffe11a;}
#services .yellow-design:hover{background:#ffef87;}
#services .red-design{background:#ff1a1a;}
#services .red-design:hover{background:#e15050;}
#services .green-design{background:#29c000;}
#services .green-design:hover{background:#6cb359;}
#services h2{color:#222;}
#services .circle:hover p{color:#333}
.serv-bot{background-color:rgba(110, 110, 110, 1);color:rgba(110, 110, 110, 1);-webkit-border-radius:20px;border-radius:20px;}
.serv-bot h2, .serv-bot p{color:#FFF;}
#banner-controls, #fade-banner-controls{display:none;list-style:none;position:absolute;bottom:10px;right:10px;z-index:1001;width:20px;height:20px;-webkit-border-radius:4px;border-radius:4px;}
#banner-controls li, #fade-banner-controls li{position:absolute;width:20px;height:20px;z-index:1002;}
#banner-controls li a, #fade-banner-controls li a{text-indent:-9999px;z-index:1003;}
#banner-controls li .banner-pause, #fade-banner-controls li .banner-pause{display:block;background-color:#CCC;background:rgba(125,125,125,.3);background-image:url(images/elements/banner-pause.png);background-repeat:no-repeat;-webkit-border-radius:7px;border-radius:7px;width:20px;height:20px;}
#banner-nav, #fade-banner-nav{display:none;float:left;list-style:none;position:absolute;bottom:10px;left:10px;z-index:1001;}
#banner-nav li, #fade-banner-nav li{float:left;width:10px;height:10px;margin:5px;padding:2px;-webkit-border-radius:7px;border-radius:7px;background-color:#CCC;-webkit-box-shadow:0px 0px 1px 1px rgba(0, 0, 0, .4);box-shadow:0px 0px 1px 1px rgba(0, 0, 0, .4);}
#banner-nav li a, #fade-banner-nav li a{display:block;text-indent:-9999px;width:10px;height:10px;-webkit-border-radius:7px;border-radius:7px;}
#banner-nav li:hover, #fade-banner-nav li:hover{background-color:#666;}
#banner-nav li .selected-banner, #fade-banner-nav li .selected-banner{background-color:#333;-webkit-box-shadow:1px 1px 0px 0px rgba(256, 256, 256, .5);box-shadow:1px 1px 0px 0px rgba(256, 256, 256, .5);}
#banner-progress, #fade-banner-progress{display:none;background:#CCC;position:absolute;bottom:1px;left:0;width:0;height:1px;z-index:6001;}
.banner-scroll{position:relative;overflow:hidden;width:100%;height:300px;z-index:101;line-height:0px;}
.banner-scroll img{width:100%;max-width:100%;}
.banner-scroll p{line-height:0px;margin:0px;padding:0px;display:block;height:auto;width:100%;position:absolute;}
.banner-scroll p:first-child{z-index:1000;}
.banner-fade{position:relative;height:300px;width:100%;overflow:hidden;clear:left;}
.banner-fade p, .banner-fade img{display:block;margin:0px;line-height:0px;height:auto;position:absolute;left:0px;top:0px;max-width:100%;width:100%;}
.banner-fade p:first-child{z-index:1000;}
.banner-static{height:auto;width:100%;clear:left;}
.banner-static img{display:block;margin:0px;line-height:0px;height:auto;width:inherit;max-width:100%;width:100%;}
.banner-static p{line-height:0px;margin:0px;padding:0px;}
.banner-deluxe{position:relative;height:330px;width:1080px;overflow:hidden;clear:left;}
.banner-deluxe .deluxe-slide{display:block;margin:0px;height:330px;width:1080px;position:absolute;left:0px;top:0px;}
.banner-deluxe .slide-1{}
.banner-deluxe .slide-2{}
.banner-deluxe .slide-3{}
.deluxe-slide .banner-overlay{opacity:0.15;-moz-opacity:0.15;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=15);filter:alpha(opacity=15);height:220px;position:absolute;top:40px;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;width:360px;right:40px;padding:20px;color:#FFF;}
.banner-deluxe h2, .banner-deluxe h2 a{color:#FFF;}
.banner-deluxe a.make-button{color:#000;background-color:#ededed;background-color:rgba(237,237,237,.15);}
.banner-deluxe a.make-button:hover{background-color:#FFF;color:#333 !important;opacity:1}
#reviews{height:auto;position:relative;width:100%;margin:10px 0px;padding:0px;}
#reviews img{height:auto;width:100%;padding:0px !important;line-height:0px;display:block;float:left;}
.scrollText{position:relative;overflow:hidden;width:100%;height:200px;z-index:101;line-height:0px;background-image:url(images/testimonial-body.png);background-repeat:repeat-y;background-size:100%;color:#fff;}
.scrollText p{line-height:1.5em;margin:0;display:block;height:200px;width:82%;position:absolute;padding-right:9%;padding-left:9%;padding-top:10px;}
.scrollText p .reviewContent{text-overflow:ellipsis;word-wrap:break-word;overflow:hidden;height:110px !important;display:block;}
.scrollText .customer{font-weight:bold;font-size:12px;color:#fff;}
.scrollText .customer .rating{font-weight:normal;font-size:10px;}
.scrollText a.make-button{}
.scrollText a.make-button:hover{}
.video-box{position:relative;padding-bottom:56.25%;padding-top:30px;height:0;overflow:hidden;}
.video-box iframe, .video-box object, .video-box embed{position:absolute;top:0;left:0;width:100%;height:100%;}
#popupblock h1{color:#2C7079;font-size:30px;background:url(none);border-style:none;margin-bottom:20px;}
#popupblock h2{color:#7B9E42;font-size:18px;background:url(none);padding-bottom:5px;border-bottom-width:1px;border-bottom-style:dashed;border-bottom-color:#999;margin-bottom:20px;border-top-width:0px;border-right-width:0px;border-left-width:0px;}
#popupblock a{display:block;height:auto;width:96%;font-size:16px;color:#FFF;clear:both;text-align:center;text-transform:uppercase;line-height:1.5em;transition:background 0.4s ease;-webkit-transition:background 0.4s ease;-moz-transition:background 0.4s ease;-o-transition:background 0.4s ease;font-weight:normal;margin-right:2%;margin-left:2%;padding-top:5px;padding-bottom:5px;margin-top:20px;background-color:#80A347;-moz-border-radius:7px;-webkit-border-radius:7px;border-radius:7px;}
#popupblock a:hover{color:#FFF;background-color:#333;}
#fade{display:none;background:#000;position:fixed;left:0;top:0;z-index:4000;width:100%;height:100%;opacity:.85;}
#popupblock{display:none;position:fixed;left:25%;padding:2%;border:15px solid #ddd;font-size:16px;margin-left:auto;margin-right:auto;opacity:1;filter:alpha(opacity=100);width:46%;height:auto;z-index:99999;-moz-border-radius:7px;-webkit-border-radius:7px;border-radius:7px;background-color:#fff;background-repeat:no-repeat;background-position:center bottom;overflow:auto;}
.close{text-decoration:none;}
.sidebar-box{}
.sidebar-blog-box{}
.sidebar-custom-box{}
.post-thumbnail{display:block;float:left;height:150px;width:150px;overflow:hidden;margin:10px;background-color:#FFF;padding:5px;text-align:center;border:1px solid #CCC}
.post-thumbnail img{line-height:0px;margin:0px;padding:0px}
.my-postdate{width:40px;height:auto;background-color:#F0F0F0;color:#999;padding:5px;text-align:center;float:right !important;-moz-border-radius:7px;-webkit-border-radius:7px;border-radius:7px;margin:5px}
.post-date{font-size:12px;color:#999}
.my-month{display:block;float:left;width:100%;font-size:14px;text-align:center;text-transform:uppercase;line-height:.9em}
.my-day{display:block;width:100%;float:left;font-size:28px;text-align:center;line-height:.9em;font-weight:bold}
.my-year{display:block;width:100%;color:#666;float:left;font-size:13px;text-align:center;line-height:0.9em}
.copyright{font-size:12px;color:#FFF;text-align:center;background-color:#393339;line-height:1.2em;padding:5px 0px}
.copyright a{color:#FFF}
.tagcloud{line-height:1em}
.navigation{text-align:center}
.navigation a{color:#999;display:block;float:left;padding:5px;background-color:#EFEFEF;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;margin:10px}
.navigation a:hover{background-color:#930000;color:#FFF;}
.nav-blog{font-size:14px;padding-right:10px;padding-left:10px}
img.aligncenter{display:block !important;margin-left:auto !important;margin-right:auto !important;}
.widget_sp_image, .widget_text{list-style:none;}
#gallery{width:100%;clear:both;margin-bottom:30px;text-align:center;}
#gallery ul{padding:0px;margin:0px;width:100%;}
#gallery ul li{list-style-type:none !important;margin:10px;padding:0 !important;width:140px !important;height:120px !important;overflow:hidden;-webkit-box-shadow:0px 0px 6x rgba(0, 0, 0, .5);-moz-box-shadow:0px 0px 6px rgba(0, 0, 0, .5);box-shadow:0px 0px 6px rgba(0, 0, 0, .5);background-color:#FFF;background-image:none !important;display:block;float:left;-moz-border-radius:7px;-webkit-border-radius:7px;border-radius:7px;}
#gallery ul li a{width:120px !important;height:100px !important;display:block;overflow:hidden;margin:10px;float:left;-moz-border-radius:7px;-webkit-border-radius:7px;border-radius:7px;}
#gallery ul li img:hover{opacity:.85;}
#gallery ul li img{-moz-border-radius:7px;-webkit-border-radius:7px;border-radius:7px;border:0 !important;}
@media handheld, only screen and (min-width:500px){.hide-from-pc{display:none !important;}
}
@media handheld, only screen and (max-width:1079px){.one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven, .twelve{padding:1% !important;margin:1% !important;word-wrap:break-word;float:left;}
.one{width:4.33333%}
.two{width:12.66666%}
.three{width:20.99999%}
.four{width:29.33334%}
.five{width:37.66666%}
.six{width:46%}
.seven{width:54.33333%}
.eight{width:62.66666%}
.nine{width:70.99999%}
.ten{width:79.33333%}
.eleven{width:87.66666%}
.twelve{width:96%}
.one-full{width:8.33333%}
.two-full{width:16.66666%}
.three-full{width:24.99999%}
.four-full{width:33.33333%}
.five-full{width:41.66666%}
.six-full{width:50%}
.seven-full{width:58.33333%}
.eight-full{width:66.66666%}
.nine-full{width:74.99999%}
.ten-full{width:83.33333%}
.eleven-full{width:91.66666%}
.twelve-full{width:96%}
#content .two{width:20.99999%}
#content .three, #content .keyword-services{width:29.33334%}
#content .four{width:46% !important}
#content-three-column .two{width:29% !important;}
#content-three-column .three{width:45% !important;}
#sidebar .two{width:46%}
.menu-top ul li a{font-size:12px}
#body{font-size:14px;-webkit-text-size-adjust:none;}
h1, h2{padding-left:3px;padding-right:3px}
.wrap{width:100%;margin:0;padding:0;position:relative}
.menu-top{background-size:100%;}
.menu-top ul ul li{}
.menu-top ul ul li a{width:90%;padding-right:5%;padding-left:5%;}
.menu-top ul li a{line-height:50px;}
}
@media handheld, only screen and (max-width:899px){.menu-top ul li a, .menu-top ul ul li a{font-size:11px}
#footer .two, #footer .three{width:29% !important;}
#footer .five{float:none;margin:5px 0px !important;padding:5px 2%!important;width:96% !important;clear:both;}
.menu-top .current-menu-item, .menu-top .current_page_item, .menu-top:hover{background-color:transparent;}
.menu-top ul li:hover{background-color:transparent;}
.menu-top ul li a{line-height:40px;}
[class^="icon-"]:before, [class*=" icon-"]:before{font-size:6em;margin-top:45px;}
#services h2{font-size:14px;}
#services a p{font-size:11px;}
}
@media handheld, only screen and (max-width:699px){body{font-size:16px;-webkit-text-size-adjust:none;background:url(images/mobile/mobile-background.jpg) repeat;}
h1, h2{padding-left:3px;padding-right:3px}
.wrap{width:100%;margin:0;padding:0;position:relative}
.one, .two, .three{width:21% !important;}
.five, .six, .seven, .eight, .nine, .ten, .eleven, .twelve{float:none;margin:5px 0px !important;padding:5px 2%!important;width:96% !important;clear:both;}
#body{background-image:none !important;background-color:#FFF}
#content .two{width:46% !important}
#content .three, #content .keyword-services{width:29% !important}
#sidebar{width:100% !important}
#sidebar.four{width:96% !important}
#sidebar .two{width:96% !important}
#sidebar.three-column-left{width:46% !important}
#sidebar.three-column-right{width:46% !important}
#sidebar.three-column-left #follow .follow-title, #sidebar.three-column-right #follow .follow-title{font-size:18px}
#sidebar.three-column-left #connect img, #sidebar.three-column-right #connect img{padding-right:3%;padding-left:3%;height:auto;max-width:12% !important;}
#footer .two, #footer .three{width:29.33334% !important}
#header{display:none}
#tablet-header{position:relative !important;width:100%;height:auto;left:0px;top:0px;margin-bottom:5px;}
#header-background{background-image:none;}
#sidebar img, #content img{padding:5px 0px;}
#follow .follow-title, #connect .connect-title{font-size:22px}
#connect img{padding-right:5%;padding-left:5%;height:auto;max-width:20%;}
.mobile-dropdown{color:#777;display:block !important;text-align:left;width:79% !important;line-height:40px !important;cursor:pointer;background-image:url(images/mobile/menu-view.png);background-repeat:no-repeat;background-position:20px center;font-size:13px;text-transform:uppercase;font-weight:normal;height:40px;background-color:#EEEEEE;position:static;clear:both;-moz-border-radius:20px;-webkit-border-radius:20px;border-radius:20px;margin:0px 3%;padding:0 0px 0 15%;}
.menu-top{width:100%;position:static !important;height:auto;background-color:transparent;background-image:none;margin:10px 0 0px;padding:0px;}
.menu-top ul, .menu-top ul ul, .menu-top ul ul ul, .menu-top ul div, .menu-top ul div ul{width:100% !important;float:none !important;margin:0px !important;clear:both;display:block !important;height:auto !important;padding:0px !important;background-color:transparent;position:static !important;}
.menu-top ul li, .menu-top ul ul li, .menu-top ul ul ul li{width:100% !important;float:none;background-image:none;margin:5px 0px !important;clear:both;display:block !important;height:auto !important;white-space:normal !important;padding:0px !important;}
.menu-top ul li a, .menu-top ul ul li a, .menu-top ul ul ul li a{display:block;font-weight:normal;color:#777 !important;font-size:16px;margin:0px 3% !important;line-height:30px !important;text-align:center;text-transform:uppercase;width:90% !important;background-color:#EEEEEE !important;height:auto;padding:0px 2% !important;-moz-border-radius:15px;-webkit-border-radius:15px;border-radius:15px;white-space:normal !important;}
.menu-top ul li:hover > ul, .menu-top ul ul li:hover > ul{opacity:1;position:static;top:0;left:0;}
.menu-top ul li:hover a{color:#777 !important;}
.menu-top ul li a:hover, .menu-top ul ul li a:hover{opacity:1;color:#FFF !important;background-image:none;background-color:#ad2321 !important;}
.menu-top li:hover ul li{margin-top:0;}
.menu-top li.show-mobile{display:block !important;}
.hide-from-tablet{display:none !important;}
.menu-top ul ul, .menu-top ul ul ul, .menu-top ul div{display:none !important;}
}
@media handheld, only screen and (max-width:500px){.one, .two{width:46% !important;margin:10px 1% 0px !important;padding:5px 1%!important;float:left;}
.three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven, .twelve, .keyword-services{float:none;margin:5px 0px !important;padding:5px 1%!important;width:98% !important;clear:both;}
#banner-background{display:none;}
#content .two{width:46% !important}
#content .three{width:98% !important}
#content .four{width:98% !important}
#content-three-column .two{width:96% !important;}
#content-three-column .three{width:96% !important;}
#content-three-column .three img{display:block;float:none;margin-right:auto;margin-left:auto;}
#sidebar.three-column-left{width:96% !important}
#sidebar.three-column-right{width:96% !important}
#footer .one, #footer .two, #footer .three{width:46% !important;margin:10px 1% 0px !important;padding:5px 1%!important;float:left;}
#footer .company{width:96% !important}
#follow .follow-title, #connect .connect-title{font-size:17px}
#connect img{padding-right:2% !important;padding-left:2% !important;height:auto;width:13%;}
#mobile-header{position:relative !important;width:100%;height:auto;left:0px;top:0px;margin-bottom:5px;}
#mobile-header:after{clear:both;}
#sidebar{width:100% !important}
#sidebar img, #content img{padding:5px 0px;}
#footer h4{padding-left:0;}
#footer a{}
#content .float-img-left, #content .float-img-right{display:block;margin:0 auto;float:none;text-align:center;}
.services-box ul{clear:both;width:96%}
.post-thumbnail{float:left !important}
.post-thumbnail img{padding:0px !important}
#gallery ul li{padding:5px 1% !important;width:48% !important;padding-right:0 !important}
#gallery ul li a{margin:0 !important;padding:0 !important}
.hide-from-mobile{display:none !important;}
.hide-from-pc{display:inherit !important;}
#tablet-header{display:none !important;}
}

.font-size {
	margin-bottom:20px;
	font-size:72px;
}